/*
Color guide:
navbar/footer               #303f9f
button                      #536dfe
fab                         #ffab40
'no image'/textpost         #5c64ba
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: #fafafa;
}

#search-form {
    background-color: #fff;
}

.card-content a {
    text-decoration: none;
    color: #000;
}

#search-form {
    margin-top: 3em;
}

#spinner {
    margin-top: 4em;
}

.page-footer: {
    height: 8em !important;
}

.card-image img {
    display: block;
    max-height: 100%;
    object-fit: cover;
    overflow: hidden;
    height: 300px;
    width: 100%;
}

.card-image {
    height: 300px;
}

.results {
    padding-top: 1em;
}